# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries


# Executables
*.out
*.app
unimap.sdf
ipch/unimap-3c9421cb/unimap-d09ce1c0.ipch
build_win/Debug
build_win/Release
build_win/ipch
Debug
Release
ipch
data/bibcodes
unimap.log
data/object/tmp
data/object/spectrum

