# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
unimap.sdf
ipch/unimap-3c9421cb/unimap-d09ce1c0.ipch
Debug
Release
data/bibcodes
unimap.log
data/object/tmp
data/object/spectrum
unimap.log
